include LICENSE
include README.rst
recursive-include permission_client/static *
recursive-include permission_client/templates *
recursive-include permission_gateway/static *
recursive-include permission_gateway/templates *